@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------*/
.wraper .main .main__form .form .form__fields button, .wraper .header__container .header__content .header__nav a:hover {
  background: linear-gradient(92.06deg, #FFDB47 3.15%, #FDCC06 96.53%);
  border-radius: 30px;
  padding: 5px 20px;
}

[class*=__container] {
  width: clamp(320px, 98vw, 1300px);
  margin: 0 auto;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  height: 100%;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
  color: #262626;
}

.wraper {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.wraper .header {
  background: #262626;
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.wraper .header p,
.wraper .header a {
  color: #fff;
  font-size: 16px;
  line-height: 150%;
  /* 24/16 */
}
.wraper .header__container {
  position: relative;
  height: 100%;
}
.wraper .header__container .header__logo-mob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 250px;
  padding: 0px 20px;
}
@media (min-width: 801px) {
  .wraper .header__container .header__logo-mob {
    display: none;
  }
}
.wraper .header__container .header__logo-mob img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wraper .header__container .header__burger {
  width: 50px;
  height: 30px;
  z-index: 1;
  display: block;
  position: relative;
  transform: translate(0, 50%);
  cursor: pointer;
  display: none;
}
.wraper .header__container .header__burger span, .wraper .header__container .header__burger::before, .wraper .header__container .header__burger::after {
  width: 100%;
  height: 10%;
  right: 0;
  position: absolute;
  background-color: #fff;
  transition: 0.3s ease;
}
.wraper .header__container .header__burger span {
  width: 80%;
}
.wraper .header__container .header__burger::before, .wraper .header__container .header__burger::after {
  content: "";
}
.wraper .header__container .header__burger span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.wraper .header__container .header__burger::before {
  top: 0;
}
.wraper .header__container .header__burger::after {
  bottom: 0;
}
.wraper .header__container .header__burger._active span {
  transform: scale(0) translate(0px, -50%);
}
.wraper .header__container .header__burger._active::before {
  top: 50%;
  transform: rotate(45deg) translate(0px, -50%);
}
.wraper .header__container .header__burger._active::after {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
@media (max-width: 800px) {
  .wraper .header__container .header__burger {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}
.wraper .header__container .header__content {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  align-items: center;
  height: 100%;
}
.wraper .header__container .header__content .header__nav {
  flex: 1 1;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, auto);
  align-items: center;
  justify-items: center;
}
.wraper .header__container .header__content .header__nav a {
  padding: 5px 20px;
  white-space: nowrap;
}
.wraper .header__container .header__content .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wraper .header__container .header__content .header__adress {
  flex: 1 1;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 10px;
}
.wraper .header__container .header__content .header__adress > div {
  margin: 0;
  display: flex;
  gap: 10px;
}
@media (max-width: 800px) {
  .wraper .header__container .header__content {
    display: none;
  }
}
.wraper .main {
  margin-top: 100px;
  flex: 1 1 auto;
}
.wraper .main .greatings {
  position: relative;
  height: 700px;
  margin-bottom: 105px;
}
.wraper .main .greatings .greatings__back {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wraper .main .greatings .greatings__back img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}
.wraper .main .greatings .greatings__container .greatings__content-flex {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
}
.wraper .main .greatings .greatings__container .greatings__text {
  flex: 0 0 60%;
  max-width: 700px;
}
.wraper .main .greatings .greatings__container .greatings__text h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  padding-bottom: 20px;
}
.wraper .main .greatings .greatings__container .greatings__text p {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.wraper .main .greatings .greatings__container .greatings__pizza {
  margin-left: -50%;
  flex: 0 0 25%;
  position: relative;
  transform: translate(45%, 0%);
}
.wraper .main .greatings .greatings__container .greatings__pizza img {
  pointer-events: none;
  transform-origin: calc(50% + 40px) calc(50% + 0px);
}
@keyframes pizzaRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.wraper .main .main__container {
  padding: 0px 10px;
  position: relative;
}
.wraper .main .main__container .products .products__category {
  max-width: 770px;
  margin: 0 auto;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}
.wraper .main .main__container .products .products__category a {
  text-align: center;
  font-size: 24px;
  line-height: 60px;
  color: #262626;
  height: 100%;
  border-radius: 50px;
  background: #ECEFF5;
}
.wraper .main .main__container .products .products__category a:hover {
  background: linear-gradient(92.06deg, #FFDB47 3.15%, #FDCC06 96.53%);
  color: #fff;
  font-weight: 700;
}
.wraper .main .main__container .products .products__list .product__body {
  display: none;
  padding-bottom: 60px;
}
.wraper .main .main__container .products .products__list .product__body:target {
  display: block;
}
.wraper .main .main__container .products .products__list .product__body .product__items-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(273px, 1fr));
  grid-auto-rows: 502px;
  grid-row-gap: 50px;
  grid-column-gap: 30px;
  justify-items: center;
}
.wraper .main .main__container .products .products__list .product__body .item-flex {
  position: relative;
  max-width: 333px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/page_index/products/item_border.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 12px;
  overflow: hidden;
}
.wraper .main .main__container .products .products__list .product__body .item-flex .item__image {
  width: 100%;
  height: 262px;
  margin-bottom: 20px;
  overflow: hidden;
}
.wraper .main .main__container .products .products__list .product__body .item-flex .item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.wraper .main .main__container .products .products__list .product__body .item-flex .item__image img:hover {
  transform: scale(1.1);
}
.wraper .main .main__container .products .products__list .product__body .item-flex h3 {
  padding: 0 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}
.wraper .main .main__container .products .products__list .product__body .item-flex p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  padding: 0 20px 10px;
}
.wraper .main .main__container .products .products__list .product__body .item-flex p span {
  display: block;
  text-align: right;
  font-weight: 300;
  font-size: 36px;
  line-height: 150%;
}
.wraper .main .main__container .products .products__list .product__body .item-flex .item__buy {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  padding: 0px;
  box-shadow: 0px 0px 20px rgba(147, 158, 180, 0.5);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  background: url("../img/icons/main_product_item_buy.svg") center no-repeat;
}
.wraper .main .main__container .products .products__list .product__body .item-flex .item__buy:hover {
  box-shadow: 0px 0px 20px rgba(255, 219, 71, 0.5);
  background: #FDCC06 url("../img/icons/main_product_item_buy-hover.svg") center no-repeat;
}
.wraper .main .main__container .gallery .gallery__content {
  position: relative;
  height: 250px;
}
.wraper .main .main__container .gallery .gallery__content .gallety__back {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wraper .main .main__container .gallery .gallery__content .gallety__back .gallery__back-flex {
  display: flex;
  gap: 30px;
}
.wraper .main .main__container .gallery .gallery__content .gallety__back .gallery__back-flex .gallery__back-img {
  width: 250px;
  background-color: rgba(0, 0, 0, 0.65);
}
.wraper .main .main__container .gallery .gallery__content .gallety__back .gallery__back-flex .gallery__back-img img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wraper .main .main__container .gallery .gallery__content .gallery__label.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px 25px;
  background: linear-gradient(92.06deg, #FFDB47 3.15%, #FDCC06 96.53%);
  opacity: 0.95;
  border-radius: 12px;
}
.wraper .main .main__container .gallery .gallery__content .gallery__label.label .label__border {
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 50px 60px;
}
.wraper .main .main__container .gallery .gallery__content .gallery__label.label .label__border .label__content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.wraper .main .main__container .gallery .gallery__content .gallery__label.label .label__border .label__content a {
  opacity: 2;
  font-weight: 700;
  font-size: 36px;
  line-height: 136.111111%;
  /* 49/36 */
  color: #fff;
}
.wraper .main .promotional {
  padding: 70px 20px;
}
.wraper .main .promotional .promotional__content {
  display: flex;
  align-items: center;
  gap: 30px;
}
.wraper .main .promotional .promotional__content:not(:last-child) {
  padding-bottom: 40px;
}
.wraper .main .promotional .promotional__content:nth-child(even) {
  flex-direction: row-reverse;
}
.wraper .main .promotional .promotional__content .promotional__image {
  flex: 0 0 60%;
  border-radius: 20px;
  overflow: hidden;
}
.wraper .main .promotional .promotional__content .promotional__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wraper .main .promotional .promotional__content .promotional__text {
  width: 100%;
}
.wraper .main .promotional .promotional__content .promotional__text h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 136.111111%; /* 49/36 */
  padding-bottom: 20px;
}
.wraper .main .promotional .promotional__content .promotional__text p {
  padding-bottom: 10px;
}
.wraper .main .promotional .promotional__content .promotional__text span {
  font-weight: 700;
}
@media (max-width: 800px) {
  .wraper .main .promotional .promotional__content {
    gap: 10px;
  }
  .wraper .main .promotional .promotional__content:not(:last-child) {
    padding-bottom: 60px;
  }
  .wraper .main .promotional .promotional__content:nth-child(1n) {
    flex-direction: column;
  }
  .wraper .main .promotional .promotional__content .promotional__text {
    text-align: center;
  }
  .wraper .main .promotional .promotional__content .promotional__text h3 {
    padding-bottom: 0px;
  }
}
.wraper .main .delivery__content {
  color: #262626;
  padding: 70px 20px;
}
.wraper .main .delivery__content .delivery__rules:not(:last-child),
.wraper .main .delivery__content .delivery__pays:not(:last-child) {
  padding-bottom: 100px;
}
.wraper .main .delivery__content .delivery__rules h2,
.wraper .main .delivery__content .delivery__pays h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 136.111111%;
  /* 49/36 */
  padding-bottom: 50px;
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top {
  position: relative;
  height: 120px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .rule__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .pay__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .rule__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .pay__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .rule__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .pay__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .rule__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .pay__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .rule__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .pay__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .rule__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .pay__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .rule__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .pay__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .rule__top-back,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .pay__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .rule__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .pay__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .rule__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .pay__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .rule__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .pay__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .rule__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .pay__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .rule__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .pay__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .rule__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .pay__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .rule__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .pay__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule__top-back,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .pay__top-back {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: rgba(236, 239, 245, 0.6980392157);
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule__top-img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule__top-img {
  width: 100%;
  height: 100%;
  padding: 5px;
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule__top-img img,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule__top-img img {
  width: 100%;
  height: 100%;
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .rule-green,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .rule-green,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .rule-green,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .rule-green,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .rule-green,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .rule-green,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .rule-green,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .rule-green,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .rule-green,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .rule-green,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .rule-green,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .rule-green,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .rule-green,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .rule-green,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .rule-green,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule-green {
  background: linear-gradient(92.06deg, #2EC674 3.15%, #9DE73E 96.53%);
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .rule-yellow,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .rule-yellow,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .rule-yellow,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .rule-yellow,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .rule-yellow,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .rule-yellow,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .rule-yellow,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .rule-yellow,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .rule-yellow,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .rule-yellow,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .rule-yellow,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .rule-yellow,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .rule-yellow,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .rule-yellow,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .rule-yellow,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule-yellow {
  background: linear-gradient(180deg, rgb(198, 182, 46) 0%, rgb(227, 231, 62) 100%);
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .rule-red,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .rule-red,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .rule-red,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .rule-red,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .rule-red,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .rule-red,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .rule-red,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .rule-red,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .rule-red,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .rule-red,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .rule-red,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .rule-red,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .rule-red,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .rule-red,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .rule-red,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule-red {
  background: linear-gradient(92.06deg, #FF7347 3.15%, #FD9A06 96.53%);
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .rule__top .rule__top-text,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule .pay__top .rule__top-text,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .rule__top .rule__top-text,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay .pay__top .rule__top-text,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .rule__top .rule__top-text,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule .pay__top .rule__top-text,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .rule__top .rule__top-text,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay .pay__top .rule__top-text,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .rule__top .rule__top-text,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule .pay__top .rule__top-text,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .rule__top .rule__top-text,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay .pay__top .rule__top-text,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .rule__top .rule__top-text,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule .pay__top .rule__top-text,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .rule__top .rule__top-text,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule__top-text {
  align-self: end;
  font-weight: 700;
  font-size: 42px;
  line-height: 135.714286%;
  /* 57/42 */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule p,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay p,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule p,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay p,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule p,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay p,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule p,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay p {
  font-size: 20px;
  line-height: 150%;
  /* 36/24 */
  text-align: center;
}
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__rule p b,
.wraper .main .delivery__content .delivery__rules .delivery__rules-flex .delivery__pay p b,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__rule p b,
.wraper .main .delivery__content .delivery__rules .delivery__pays-flex .delivery__pay p b,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__rule p b,
.wraper .main .delivery__content .delivery__pays .delivery__rules-flex .delivery__pay p b,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__rule p b,
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay p b {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
}
.wraper .main .delivery__content .delivery__pays .delivery__pays-flex .delivery__pay .pay__top .rule__top-img {
  position: relative;
  transform: translateX(-40px);
}
.wraper .main .about {
  position: relative;
}
.wraper .main .about .about__greatings {
  width: 100%;
  height: 600px;
  position: relative;
  margin-bottom: 265px;
}
.wraper .main .about .about__greatings .about__backimage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}
.wraper .main .about .about__greatings .about__backimage img {
  position: relative;
  width: 100%;
  height: calc(100% + 30px);
  transform: translateY(-30px);
  -o-object-fit: cover;
     object-fit: cover;
}
.wraper .main .about .about__greatings .about__media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  gap: 35px;
}
.wraper .main .about .about__greatings .about__media .about__media-item.item {
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0px 3px 3px #ccc;
  background-color: #fff;
  padding: 70px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
}
.wraper .main .about .about__greatings .about__media .about__media-item.item .item__img {
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 15px;
}
.wraper .main .about .about__greatings .about__media .about__media-item.item .item__img img {
  width: 100%;
  height: 100%;
}
.wraper .main .about .about__greatings .about__media .about__media-item.item h4 {
  font-size: 24px;
  line-height: 150%;
  color: #262626;
  padding-bottom: 10px;
}
.wraper .main .about .about__greatings .about__media .about__media-item.item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #262626;
}
@media (max-width: 1000px) {
  .wraper .main .about .about__greatings {
    margin-bottom: 120px;
  }
  .wraper .main .about .about__greatings .about__media .about__media-item.item {
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 3px 3px #eee;
    justify-content: center;
  }
  .wraper .main .about .about__greatings .about__media .about__media-item.item .item__img {
    padding: 0px;
  }
  .wraper .main .about .about__greatings .about__media .about__media-item.item h4,
  .wraper .main .about .about__greatings .about__media .about__media-item.item p {
    display: none;
  }
}
@media (max-width: 700px) {
  .wraper .main .about .about__greatings {
    height: 500px;
    margin-bottom: 100px;
  }
  .wraper .main .about .about__greatings .about__media {
    gap: 30px;
  }
  .wraper .main .about .about__greatings .about__media .about__media-item.item {
    width: 90px;
    height: 90px;
    padding: 10px;
  }
}
@media (max-width: 400px) {
  .wraper .main .about .about__greatings {
    height: 350px;
    margin-bottom: 80px;
  }
  .wraper .main .about .about__greatings .about__media {
    gap: 15px;
  }
  .wraper .main .about .about__greatings .about__media .about__media-item.item {
    width: 70px;
    height: 70px;
    padding: 10px;
  }
}
.wraper .main .about .about__container {
  padding: 0px 20px;
}
.wraper .main .about .about__container .about__content-flex {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 90px;
}
.wraper .main .about .about__container .about__content-flex .about__content-item.content-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.wraper .main .about .about__container .about__content-flex .about__content-item.content-item:nth-child(even) {
  flex-direction: row-reverse;
}
.wraper .main .about .about__container .about__content-flex .about__content-item.content-item .content-item__img {
  flex: 1 0 525px;
  border-radius: 15px;
  overflow: hidden;
}
.wraper .main .about .about__container .about__content-flex .about__content-item.content-item .content-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wraper .main .about .about__container .about__content-flex .about__content-item.content-item .content-item__text h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 136.111111%;
  /* 49/36 */
  padding-bottom: 20px;
}
.wraper .main .about .about__container .about__content-flex .about__content-item.content-item .content-item__text p {
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 900px) {
  .wraper .main .about .about__container .about__content-flex {
    row-gap: 75px;
  }
  .wraper .main .about .about__container .about__content-flex .about__content-item.content-item:nth-child(1n) {
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
  .wraper .main .about .about__container .about__content-flex .about__content-item.content-item .content-item__img {
    flex: 1 1 100%;
    min-width: 100%;
  }
}
.wraper .main .about .about__map.map {
  position: relative;
  overflow: hidden;
  padding: 110px 0;
}
.wraper .main .about .about__map.map .map__backimg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.wraper .main .about .about__map.map .map__backimg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wraper .main .about .about__map.map .map__content {
  background-color: rgba(0, 0, 0, 0.5333333333);
  max-width: 350px;
  border-radius: 10px;
  padding: 90px 0;
}
.wraper .main .about .about__map.map .map__content .map__logo {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 40px;
}
.wraper .main .about .about__map.map .map__content .map__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wraper .main .about .about__map.map .map__content .map__contacts-flex {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  flex-direction: column;
  align-items: left;
  gap: 15px;
}
.wraper .main .about .about__map.map .map__content .map__contacts-flex p,
.wraper .main .about .about__map.map .map__content .map__contacts-flex a {
  color: #fff;
}
.wraper .main .about .about__map.map .map__content .map__contacts-flex .map__contacts-item {
  display: flex;
  gap: 10px;
}
@media (max-width: 1400px) {
  .wraper .main .about .about__map.map .map__content {
    margin-left: 100px;
  }
}
@media (max-width: 700px) {
  .wraper .main .about .about__map.map .map__content {
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .wraper .main .about .about__map.map .map__content {
    width: 275px;
  }
}
.wraper .main .main__form {
  background-color: #ECEFF5;
  padding: 90px 20px;
}
.wraper .main .main__form .form p {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  padding-bottom: 60px;
  max-width: 750px;
  margin: 0 auto;
}
.wraper .main .main__form .form .form__fields {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.wraper .main .main__form .form .form__fields input {
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 15px 30px;
  color: rgba(38, 38, 38, 0.7);
  font-size: 16px;
  line-height: 150%; /* 24/16 */
}
.wraper .main .main__form .form .form__fields button {
  border-radius: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%; /* 36/24 */
  justify-content: center;
  position: relative;
  padding-right: 65px;
}
.wraper .main .main__form .form .form__fields button div {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  height: 35px;
  width: 35px;
  background-color: #fff;
  border-radius: 50%;
  padding: 7px;
}
.wraper .main .main__form .form .form__fields button div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 800px) {
  .wraper .main .main__form .form .form__fields {
    flex-direction: column;
    row-gap: 15px;
  }
}
.wraper .basket._active {
  right: 0;
}
.wraper .basket {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 20;
  min-width: 350px;
  max-width: 500px;
  height: 100%;
  background-color: #fff;
  padding: 25px;
  transition: all 0.2s ease;
}
.wraper .basket .basket__form .basket__close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.wraper .basket .basket__form .basket__close::before, .wraper .basket .basket__form .basket__close::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
}
.wraper .basket .basket__form .basket__close::before {
  transform: rotate(-45deg) translateX(-5%);
}
.wraper .basket .basket__form .basket__close::after {
  transform: rotate(45deg) translateX(-5%);
}
.wraper .basket .basket__form h4 {
  font-size: 24px;
  line-height: 130%;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
}
.wraper .basket .basket__form .basket__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
}
.wraper .basket .basket__form .basket__list li {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  grid-template-columns: 1fr 15px 20px 15px 40px 30px 10px;
  align-items: center;
}
.wraper .basket .basket__form .basket__list li .item__button-less,
.wraper .basket .basket__form .basket__list li .item__button-more,
.wraper .basket .basket__form .basket__list li .item__button-delete {
  display: block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wraper .basket .basket__form .basket__list li .item__count {
  text-align: center;
}
.wraper .basket .basket__form .basket__list li .item__summ {
  text-align: right;
}
.wraper .basket .basket__form .basket__summ {
  text-align: right;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  margin-bottom: 40px;
}
.wraper .basket .basket__form .basket__post {
  width: 100%;
  padding: 15px;
  background: linear-gradient(92.06deg, #FFDB47 3.15%, #FDCC06 96.53%);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  border-radius: 50px;
}
.wraper .footer {
  background-color: #262626;
  width: 100%;
  padding: 60px 0px;
}
.wraper .footer p, .wraper .footer a {
  color: #fff;
}
.wraper .footer .footer__container {
  padding: 0 20px;
}
.wraper .footer .footer__container .footer__up {
  display: flex;
  justify-content: center;
  text-align: center;
}
.wraper .footer .footer__container .footer__up .footer__buttonup {
  display: block;
  background-color: rgba(0, 0, 0, 0);
}
.wraper .footer .footer__container .footer__content {
  display: flex;
  row-gap: 20px;
  align-items: center;
  padding-bottom: 35px;
}
.wraper .footer .footer__container .footer__content .footer__nav {
  flex: 1 1 auto;
  display: flex;
  padding-left: 50px;
  gap: 60px;
}
.wraper .footer .footer__container .footer__content .footer__media {
  display: flex;
  gap: 40px;
}
@media (max-width: 800px) {
  .wraper .footer .footer__container .footer__content {
    padding-top: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wraper .footer .footer__container .footer__content .footer__logo {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    order: 1;
  }
  .wraper .footer .footer__container .footer__content .footer__nav {
    padding-left: 0px;
    flex: 0 0 100%;
    justify-content: center;
    order: 3;
  }
  .wraper .footer .footer__container .footer__content .footer__media {
    flex: 1 1 auto;
    justify-content: center;
    order: 2;
  }
}
.wraper .footer .footer__container .footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wraper .footer .footer__container .footer__bottom .footer__address {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  flex-wrap: wrap;
}
.wraper .footer .footer__container .footer__bottom .footer__address > div {
  flex: 1 1 auto;
  display: flex;
  gap: 10px;
}
@media (max-width: 800px) {
  .wraper .footer .footer__container .footer__bottom {
    flex-direction: column-reverse;
    row-gap: 40px;
  }
  .wraper .footer .footer__container .footer__bottom .footer__address {
    flex-direction: column;
    row-gap: 15px;
  }
}