@import "_nullstyle";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


$mw_page: 1300px;

//Основні кнопки та виділення активних сторінок в шапці
%button_bk {
  background: linear-gradient(92.06deg, #FFDB47 3.15%, #FDCC06 96.53%);
  border-radius: 30px;
  padding: 5px 20px;
}

[class*='__container'] {
  width: clamp(320px, 98vw, $mw_page);
  margin: 0 auto;
  // border: 1px solid orange;
}

body {
  font-family: 'Open Sans';
  font-weight: 400;
  height: 100%;
  ////background-color: #999;
  font-size: 16px;
  line-height: 150%; /* 24/16 */
}

.wraper {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  @import "_header";

  .main {
    margin-top: 100px; //відступ від шапки
    flex: 1 1 auto;
    .main__container {
      //// display: none;
    }
    @import "main/_promotional";
    @import "main/form";
  }

  @import "_footer";
}